/*
 *		シリアルインタフェースドライバのターゲット依存部（CT11MPCore用）
 *		のコンフィギュレーションファイル（非TECS版専用）
 *
 *  $Id: target_serial.cfg 567 2018-11-26 06:05:50Z ertl-hiro $
 */

#include "target_serial.h"

KERNEL_DOMAIN {
	/* ATT_INI({ TA_NULL, 0, sio_initialize }); */
	ATT_TER({ TA_NULL, 0, sio_terminate });
	ATT_MOD("target_serial.o");
	ATT_MOD("uart_pl011.o");

	CFG_INT(INTNO_SIO, { INTATR_SIO, INTPRI_SIO });
	CRE_ISR(ISR_SIO, { TA_NULL, 1, INTNO_SIO, sio_isr, ISRPRI_SIO });
}
